@model Taxi.Models.Dispecer
@{
    ViewBag.Title="Dispecer";
}

<!DOCTYPE html>

<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="background-image:url('../../yellow-taxi-car.png')">
    <div>
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <a class="navbar-brand" href="#">@Model.Korisnicko_ime</a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="~/Views/Home/KreirajVozaca">Dodaj vozaca</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Views/Home/KreirajVoznju">Dodaj voznju</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Views/Home/Odjava">Odjava</a>
                </li>
            </ul>
        </nav>
    </div>
</body>
</html>
