@model WebAPI.Models.Dispecer
@{
    ViewBag.Title = "DispecerZakazujeVoznju";
    bool kombi = false;
    bool putnicki = false;
}
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="width:auto; height:auto; background-image:url('../taxi-service.png'); background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;">
    <div style="text-align:center">
        <h2><b>Zahtev za vožnju</b></h2>
    </div>
    <br />
    <br />
    <br />
    <form action="/Projekat/ZatrazioDispecer">
        <input type="hidden" value="@Model.Korisnicko_ime" name="dispecer" />
        <table>
            <tr>
                <td><b>Unesite lokaciju(ulica,broj,mesto,postanški broj)</b></td>
                <td><input type="text" name="ulica" /></td>
                <td><input type="text" name="broj" /></td>
                <td><input type="text" name="mesto" /></td>
                <td><input type="text" name="postanski" /></td>
            </tr>
            <tr>
                <td>
                    <b>
                        Odaberite tip vozila:
                    </b>
                </td>
                <td>
                    <select name="vozilo">
                        <option value="putnicko">Putničko</option>
                        <option value="kombi">Kombi</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Slobodni vozači</td>
                <td>
                    <select name="korisnickoVozac">
                        @foreach (WebAPI.Models.Vozac v in WebAPI.Models.PostojeciKorisnici.ListaVozaca)
                        {
                            <option value="@v.Korisnicko_ime">@v.Ime @v.Automobil.Tip.ToString()</option>
                        }
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Zatraži vožnju" />
                </td>
            </tr>
        </table>
    </form>
</body>
</html>