
@{
    ViewBag.Title = "PogresnaSifra";
}
<html>
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="width:auto; height:auto; background-image:url('../../error.png'); background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;">
    <form action="/Projekat/Return">
        <p class="w3-center">
            <button class="w3-button w3-section w3-blue w3-ripple">Pokušajte ponovo</button>
        </p>
    </form>
</body>
</html>