@model WebAPI.Models.Vozac
@{
    ViewBag.Title = "PromeniLokacijuVozaca";
}
<head>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body style="width:auto; height:auto; background-image:url('../taxi-service.png'); background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;">

    <div style="text-align:center">
        <form action="/Projekat/PromeniLokVozac">
            <table>
                <tr>
                    <td>X koordinata:</td>
                    <td>
                        <input type="text" name="x" required/>
                    </td>
                </tr>
                <tr>
                    <td>Y koordinata:</td>
                    <td>
                        <input type="text" name="y" required/>
                    </td>
                </tr>
                <tr>
                    <td>Naziv ulice:</td>
                    <td>
                        <input type="text" name="ulica" required/>
                    </td>
                </tr>
                <tr>
                    <td>Broj:</td>
                    <td>
                        <input type="text" name="broj" required min="1"/>
                    </td>
                </tr>
                <tr>
                    <td>Grad:</td>
                    <td>
                        <input type="text" name="grad" required/>
                    </td>
                </tr>
                <tr>
                    <td>Pozivni broj mesta:</td>
                    <td>
                        <input type="text" name="pozivni" required min="10000"/>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" value="Sačuvaj" /></td>
                </tr>
            </table>
        </form>
    </div>
</body>
